Data/bloodcells_dataset/basophil/*
Data/bloodcells_dataset/eosinophil/*
Data/bloodcells_dataset/erythroblast/*
Data/bloodcells_dataset/ig/*
Data/bloodcells_dataset/lymphocyte/*
Data/bloodcells_dataset/monocyte/*
Data/bloodcells_dataset/neutrophil/*
Data/bloodcells_dataset/platelet/*

Data/bloodcells_dataset_cleaned/basophil/*
Data/bloodcells_dataset_cleaned/eosinophil/*
Data/bloodcells_dataset_cleaned/erythroblast/*
Data/bloodcells_dataset_cleaned/ig/*
Data/bloodcells_dataset_cleaned/lymphocyte/*
Data/bloodcells_dataset_cleaned/monocyte/*
Data/bloodcells_dataset_cleaned/neutrophil/*
Data/bloodcells_dataset_cleaned/platelet/*

Data/bloodcells_dataset_cleaned_features.csv

Static/uploads/*

*.pyc
